@model IEnumerable<Worker>

@{
}

<h2 class="special-header" style="padding-bottom:12px">Штат работников предприятия</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>№</th>
            <th>Фамилия, инициалы</th>
            <th>Фото</th>
            <th>Образование</th>
            <th>Должность</th>
            <th>Статус</th>
            <th>Свойства</th>
        </tr>
        @foreach (var worker in Model)
        {
            <tr>
                <td>@worker.Id</td>
                <td>@worker.FullName</td>
                <th><img style='width:80px; height:80px;' src="data:image/png;base64,@(Convert.ToBase64String(worker.Avatar))" /></th>
                <td>@worker.Education</td>
                <td>@worker.Position</td>
                <td>@worker.Status</td>
                <td>
                    <a class="btn btn-secondary" asp-controller="Workers" asp-action="Edit" asp-route-id="@worker.Id">Свойства</a>
                </td>
            </tr>
        }
    </table>
</div>

<a class="btn btn-primary" asp-controller="Workers" asp-action="Create">Новый</a>